.display {
    width: 20rem;
    height: 28rem;
    margin: 2rem;
    padding-left: 2rem;
}

.display-card {
    margin-top: 2rem;
}

.display-slot {
    width: 16rem;
    margin-bottom: .5rem;
    padding: 2rem;
    text-align: left;
}